@model IEnumerable<Model.Group>

@{
    ViewBag.Title = "Index";
}

@section Scripts {

    <link href="~/Content/Filter.css" rel="stylesheet" />
    <script src="~/Scripts/FilterTable.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.add').click(function () {
                var url = "Group/Create";
                window.location.href = url;
            });

            $('.edit').click(function () {
                var url = "Group/Edit/" + $(this).data('id');
                window.location.href = url;
            });

            $('.delete').click(function () {
                var url = "Group/Delete/" + $(this).data('id');
                window.location.href = url;
            });

            hideFilter();

        });
    </script>
}

<br />
<div class="bs-component">
    <ul class="breadcrumb">
        <li><a href="~/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class="active"><span class="glyphicon glyphicon-globe"></span> Grupos</li>
    </ul>
</div>

<div class="pull-right">
    <a class="btn btn-sm  btn-success add"><span class="glyphicon glyphicon-plus"></span> Agregar</a><br />
</div>
<br />

<div class="panel panel-default filterable">
    <div class="panel-heading">
        <div class="panel-title"><span class="glyphicon glyphicon-globe"></span> Grupos</div>
        <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtro</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="filters">
                <th><input type="text" class="form-control" disabled></th>
                <th><input type="text" class="form-control" disabled></th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Status)
                    {
                        <span class="glyphicon glyphicon-ok"></span>
                    }                    
                </td>
                <td>
                    <button class="btn btn-primary btn-xs edit" data-id="@item.Id" data-title="Edit" data-placement="top"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-danger btn-xs delete" data-id="@item.Id" data-title="Delete" data-placement="top"><span class="glyphicon glyphicon-trash"></span></button>
                </td>

            </tr>
        }

    </table>
</div>
